<div class="container">
 <div class="row">
  <div class="col-md-offset-2 col-md-6">
   <div class="panel panel-dark">
    <div class="panel-heading">
      <h2 align="center"><%= current_user.name %></h2>
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
         <%= devise_error_messages! %>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control", autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
         <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
         <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
         <% if @minimum_password_length %>
           <br />
          <em><%= @minimum_password_length %> characters minimum</em>
         <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control", placeholder: "First and Last name" %>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_area :location, class:"form-control", placeholder: "Where-ness of you", rows: 2 %>
      </div>
      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class:"form-control", placeholder: "Roughly: what's yer deal?", rows: 6 %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class:"form-control", autocomplete: "off" %>
      </div>
      <div class="field form-group">
        <%= f.label "Photo" %><br>
        <%= f.file_field :avatar %>
        <% if current_user.avatar_file_name != nil %>
          <%= image_tag current_user.avatar.url(:thumb) %>
         <%= f.label "Remove Photo" %>
         <%= f.check_box :remove_avatar %>
         <% end %>

      </div>
      <div class="action-group">
        <%= f.submit "DrvL", class:"btn btn-default" %>
      </div>
      <% end %>
      <br>
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Un-DrvL", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-default" %></p>
    </div>
   </div>
  </div>
</div>
