<div class="container">
 <div class="row">
  <div class="col-md-offset-2 col-md-6">
   <div class="panel panel-dark">
    <div class="panel-heading">
      <h2 align="center">Embrace KnowScents</h2>
    </div>

       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <%= devise_error_messages! %>

     <div class="panel-body">
       <div class="form-group">
         <%= f.label :name %>
         <%= f.text_field :name, class:"form-control", placeholder: "First and Last name" %>
       </div>

       <div class="form-group">
         <%= f.label :username %>
         <%= f.text_field :username, class:"form-control", placeholder: "@Username" %>
       </div>

       <div class="form-group">
         <%= f.label :location %>
          <%= f.text_area :location, class:"form-control", placeholder: "Where-ness of you", rows: 2 %>
       </div>

       <div class="form-group">
         <%= f.label :bio %>
         <%= f.text_area :bio, class:"form-control", placeholder: "Roughly: what's yer deal?", rows: 6 %>
       </div>

       <div class="form-group">
         <%= f.label :email %>
         <%= f.email_field :email, class:"form-control", autofocus: true %>
       </div>

       <div class="form-group">
         <%= f.label :password %>
         <% if @minimum_password_length %>
           <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %><br />
         <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
         </div>

       <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
       </div>
       <div class="field form-group">
         <%= f.label "Photo" %><br>
         <%= f.file_field :avatar %>
       </div>

       <div class="action-group">
         <%= f.submit "DrvL", class:"btn btn-default" %>
       </div>
      <% end %>
      <br>
      <br>
       <%= render "devise/shared/links" %>
     </div>
    </div>
  </div>
 </div>
</div>
